*{
    padding: 0;
    margin: 0;
}
#nav-section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1341px;
    width: 90%;
    height:92px ;
    padding: 16px 120px 16px 120px;
    background-color: #FFFFFF;
    align-items: center;
}
.menu-items{
    display: flex;
    list-style:none;
    gap: 32px;
}
.menu-items a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
}
.btn{
    font-size: 16px;
    background-color: #30B868 ;
    border-radius:4px;
    width: 164px;
    height: 44px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
#banner-section{
    background-image: url(../assets/hero-bg.png);
    width: 90%;
    max-width: 1341px;
    height: 674px;
    margin: 0 auto;
}
.banner{
    padding: 116px 120px 180px 120px;
    margin: 0 auto;
}
.icon{
    display: flex;
    width: 229px;
    height: 64;
    font-size: 16px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Early{
    color: #30B868;
    width: 183px;
    height: 19px;
}
.banner-main-text {
    display: flex;             
    flex-direction: column;     
    justify-content: center;   
    align-items: center;        
    font-size: 72px;
    width: 100%;
    height: 168px;            
    text-align: center;
}
.text1{
    color: #FFFFFF;
}
.text2{
    color: #30B868;
}
.text3{
    display: flex;
    margin: 0 auto;
    width:98%;
    max-width: 1341px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 32px;
}
.banner-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn1{
    background-color: #30B868;
    width: 251px;
    height: 52px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}
.btn2{
    width: 198px;
    height: 52px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}
#notes{
    height: 448px;
    width: 90%;
    max-width: 1341px;
    margin: 0 auto;
}
.container{
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;

}

.card{
    height: 250px;
    width: 322px;
    padding: 24px;
    background-color: #ffffff;
    box-shadow: 0  4px 8px #00000027 ;
    border: none;

}
.card h2{
    width: 274px;
    height: 50px;
    margin-top: 16px;
    font-size: 30px;
    font-weight: bold;
}
#last-card-h2{
    width: 274px;
    height: 65px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: bold;
}
.card-text{
    width: 274px;
    height: 40px;
    font-size: 16px;
    color: #627382;
}

.picture{
    background-color: #F95555;
    border-radius: 50px;
    width: 32px;
    height:32px ;
    padding: 10px;
    margin-top: 50px;

}
#notes h1{
    display: flex;
    width: 90%;
    max-width: 1341px;
    font-size: 48px;
    color: #001931;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 16px;
}
#notes p{
    display: flex;
    width: 90%;
    max-width: 1341px;
    font-size:16px;
    line-height: 20px;
    color: #001931;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    margin-bottom: 44px;
}

.container-brain{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1341px;
    margin: 0 auto;
    gap: 60px;
}
#brain{
    width: 1341;
    padding: 120px;
}
.brain-list{
    list-style:none;
    align-items: flex-start;
}
span{
    width: 700px;
    height: 20px;
    font-size: 16px;
    color: #30B868;
}
.brain-text1 h1{
    width: 700px;
    height: 116px;
    font-size:48px;
    color: #001931;
}
.brain-text2{
    width: 700px;
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    color: #627382; 
}
#challange-section{
    width: 90%;
    max-width: 1341;
    height: 506px;
    padding: 2px 120px 120px 120px;
    margin: 0 auto;
}
.challange{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f6f2;
    width: 70%;
    max-width: 1341px;
    height: 384px;
    margin: 0 auto;
}
.ch-text1{
    display: flex;
    font-size: 40px;
    font-weight: bold ;
    height: 48px;
    line-height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.ch-text2{
    display: flex;
    font-size: 16px;
    height: 48px;
    line-height: 24px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    color: #627382; 
}
.btn-text1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: #30B868 ;
    border-radius:4px;
    width: 194px;
    height: 52px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}
.btn-text2{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    color: #627382; 
    margin: 0 auto;
}
.footer-logo{
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 1341px;
    height: 64px;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 50px;
}
#footer-section{
    background-color: #001931;
    width: 90%;
    max-width: 1341px;
    height: 250px;
    margin: 0 auto;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001931;
}
.copyright{
    display: flex;
    width: 80%;
    max-width: 1341px;
    height: 54px;
    color: #FAFAFA;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
hr{
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    height: 1px;
    opacity: 20%;
    color: #E5E7EB;
}
#icons{
    height: 20px;
    width: 92px;
}
.social link{
    width: 113px;
    height: 28px;
    font-size: 20px;
    line-height: 28px;
}

